
.row{
	margin: 10px;
}
.col0{
	width: 100%;
}
.col0>h1{
	margin: 3%;
	text-align: center;
}

.col1{
	width: 30%;
	margin: 1.5%;
	border: 2px solid red;
	background-color: #ee9;
}
.col2{
	width: 30%;
	margin: 1.5%;
	border: 2px solid red;
	background-color: #ee9;
}
.col3{
	width: 30%;
	margin: 1.5%;
	border: 2px solid red;
	background-color: #ee9;
}
.col1>h2{
	color: white;
	background-color: blue;
	text-align: center;
	float: right;
	width: 42%;
	
}
.col2>h2{
	color: white;
	background-color: red;
	text-align: center;
	float: right;
	width: 42%;
	
}
.col3>h2{
	color: white;
	background-color: green;
	text-align: center;
	float: right;
	width: 42%;
	
}
section{
	clear: both;
	padding: 1%;
}	

}
}

@media (min-width: 768px) and (max-width: 991px){
 .col1{
 	width: 44.5%;
 }
  .col2{
 	width: 44.5%;
 }
  .col3{
 	width: 100%;
 }
}
@media (max-width: 767px){
 .col1{
 	width: 100%;
 }
  .col2{
 	width: 100%;
 }
  .col3{
 	width: 100%;
 }
}